<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Vue App</title>
  <!-- jskos-vue stylesheet and required libraries (adjust version for updates) -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/jskos-vue/dist/style.css">
  <script type="importmap">
    {
      "imports": {
        "vue": "https://cdn.jsdelivr.net/npm/vue@3/dist/vue.esm-browser.js",
        "jskos-tools": "https://esm.sh/jskos-tools@1.1.2",
        "vue-scrollto": "https://esm.sh/vue-scrollto@2.20.0",
        "jskos-vue": "https://cdn.jsdelivr.net/npm/jskos-vue/dist/jskos-vue.js",
        "jskos-vue-tabs": "https://cdn.jsdelivr.net/npm/jskos-vue-tabs@0.1.8/dist/jskos-vue-tabs.js"
      }
    }
    </script>
  <!-- cocoda-sdk is not available as ESM build yet, so include the old way -->
  <script src="https://cdn.jsdelivr.net/npm/cocoda-sdk@3/dist/cocoda-sdk.js"></script>
  <style>
    input:invalid {
      background: #faa;
    }
    #api-form {
      display: grid;
      grid-template-columns: 1fr 4fr;
      grid-gap: 0.5em;
      width: fit-content;
    }
    #api-form label {
      grid-column: 1;
      font-weight: bold;
    }
    #api-form input, #api-form div {
      grid-column: 2;
    }
  </style
</head>
<body>
  <div id="app">
    <h2>Registry</h2>
    <p>Where and how to look up scheme data from</p>
    <form id="api-form">
      <label for="endpoint">Endpoint</label>
      <input id="endpoint" type="url" v-model.lazy="endpoint" placeholder="API endpoint URL" />
      <label for="api">API Type</label>
      <div v-if="api" @click="api=''">
        <item-name :item="apiTypes.find(t => t.uri === api)"></item-name>
      </div>
      <div v-else>
        <item-select :options="apiTypes" @select="api = $event.uri"></item-select>
      </div>
    </form>
    <div v-if="registry">
      <h2>Terminology</h2>
      <div v-if="scheme">
        <item-name :item="scheme" @click="scheme=null"></item-name>
        <hr>
        <item-details v-if="concept" :item="concept"></item-details>
        <hr>
        <!-- TODO: See <https://github.com/gbv/jskos-vue/issues/38> -->
        <item-select placeholder="Search in scheme…"
          :search="suggestConcept"
          :resolve="resolveConcept"
          :tree-concepts="topConcepts"
          :tree-load-narrower="loadNarrower"
          @select="concept = $event"
          ></item-select>
      </div>
      <!-- TODO: if registry does not support vocSuggest: provide full list of schemes -->
      <item-suggest v-else :search="search => registry.vocSuggest({ search })" @select="updateTerminology" />
    </div>
  </div>
  <script type="module">
    const { cdk, addAllProviders } = CDK // global import
    addAllProviders()
    import { createApp } from "vue"
    import * as JskosVue from "jskos-vue"
    import * as jskos from "jskos-tools"

    // TODO: move to cocoda-sdk library and add better names
    const apiTypes = Object.values(cdk.providers)
      .map(provider => ({ uri: provider.providerType, prefLabel: { en: provider.providerName } }))

    createApp({
      data() {
        const params = new URLSearchParams(window.location.search)
        const uri = params.get("scheme") || ""        
        return {
          api: params.get("api") || "",
          endpoint: params.get("endpoint") || "",
          registry: null,
          scheme: uri ? { uri } : null,
          concept: null,
          topConcepts: null,
          apiTypes
        }
      },
      mounted() { 
        this.updateRegistry()
        if (this.scheme) {
          this.loadTerminology()
        }
      },
      methods: {
        query() {
          const query = {}
          if (this.api) query.api = this.api
          if (this.endpoint) query.endpoint = this.endpoint
          if (this.scheme?.uri) query.scheme = this.scheme.uri
          return query
        },
        updateQuery() {
          const query = new URLSearchParams(this.query())
          window.history.replaceState({}, "", `${window.location.pathname}?${query.toString()}`)
        },
        updateRegistry() {
          this.updateQuery()
          this.registry = (this.api && this.endpoint && document.getElementById("endpoint").checkValidity())
            ? cdk.initializeRegistry({ api: this.api, endpoint: this.endpoint }) : null
        },
        loadTerminology() {
          if (this.scheme?.uri && this.registry) {
            return this.registry.getSchemes({ params: { uri: this.scheme.uri } })
              .then(res => this.scheme = res[0] || this.scheme)
          }
        },
        updateTerminology(scheme) {
          this.scheme = scheme
          this.updateQuery()          
          this.loadTerminology()?.then(() => this.loadTop())
        },
        async loadTop() {
          this.topConcepts = jskos.sortConcepts(await this.scheme?._getTop())
        },
        async suggestConcept(search) {
          return this.registry?.suggest({ search, scheme: this.scheme })
        },
        async resolveConcept(uri) {
          return (await this.scheme?._registry?.getConcepts({ concepts: [{ uri }] }))[0]
        },
        async loadNarrower(concept) {
          if (!concept.narrower || concept?.narrower.includes(null)) {
            concept.narrower = jskos.sortConcepts(await concept._getNarrower())
          }
        },
      },
      watch: {
        api() { this.updateRegistry() },
        endpoint() { this.updateRegistry() }
      },
    }).use(JskosVue).mount("#app")
  </script>
</body>
</html>
