/* Define CSS variables that can be overridden */
:root {
  /* General */
  --jskos-vue-highlight-bgColor: #fdbd5888;
  --jskos-vue-color-lightGrey: #737373;
  /* Arrow */
  --jskos-vue-arrow-color: black;
  --jskos-vue-arrow-hover-color: #666;
  /* ItemDetails */
  --jskos-vue-itemDetails-dropzone-bgCover: #eeeeee99;
  /* ItemList */
  --jskos-vue-itemList-hover-bgColor: var(--jskos-vue-highlight-bgColor);
  --jskos-vue-itemList-indicator-color: green;
  /* ConceptTree */
  --jskos-vue-conceptTree-selected-bgColor: var(--jskos-vue-highlight-bgColor);
  --jskos-vue-conceptTree-hover-bgColor: var(--jskos-vue-highlight-bgColor);
  /* ItemSuggest */
  --jskos-vue-itemSuggest-results-bgColor: white;
  --jskos-vue-itemSuggest-results-shadowColor: rgba(0, 0, 0, 0.2);
  --jskos-vue-itemSuggest-selected-color: inherit;
  --jskos-vue-itemSuggest-selected-bgColor: var(--jskos-vue-highlight-bgColor);
  --jskos-vue-itemSuggest-results-zIndex: 10;
  /* LoadingIndicator */
  --jskos-vue-loadingIndicator-primary-color: lightgray;
  --jskos-vue-loadingIndicator-secondary-color: blue;
}
.jskos-vue-text-lightGrey {
  color: var(--jskos-vue-color-lightGrey);
}
.jskos-vue-text-small {
  font-size: 0.85rem;
}
.jskos-vue-text-bold {
  font-weight: bold;
}
